{"nbformat":4,"nbformat_minor":0,"metadata":{"colab":{"provenance":[],"authorship_tag":"ABX9TyNcDh9eDqPii5QfSHaYWF2B"},"kernelspec":{"name":"python3","display_name":"Python 3"},"language_info":{"name":"python"}},"cells":[{"cell_type":"code","execution_count":1,"metadata":{"colab":{"base_uri":"https://localhost:8080/"},"id":"GXUrq9-LpoT6","executionInfo":{"status":"ok","timestamp":1748767315912,"user_tz":-330,"elapsed":21,"user":{"displayName":"Venu Gopal Rao Joshi","userId":"07793082721357199512"}},"outputId":"aac456cf-299c-4016-9492-7281a594d9ed"},"outputs":[{"output_type":"stream","name":"stdout","text":["Writing requirements.txt\n"]}],"source":["%%writefile requirements.txt\n","streamlit\n","PyPDF2\n","python-docx\n","scikit-learn"]}]}